ion-toolbar {
    --background: url('../../assets/img/top-bg.jpg') !important;
    background-size: 100% 100%;
    --ion-toolbar-background: transparent;
    padding: 8px 5px 5px !important;
    
    .header-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
        .header-section {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 0 5px;
            
            &:first-child {
                justify-content: flex-start;
            }
            
            &:last-child {
                justify-content: flex-end;
            }
        }
    }

    .mic-text-container {
        display: flex;
        align-items: center;
        // padding: 0 8px;

        .mic-button {
            --padding-start: 8px;
            --padding-end: 8px;
            --box-shadow: none;
            --background: transparent;
            --border-radius: 4px;
            margin: 0;
            height: auto;
            --ripple-color: transparent;

            .mic-icon {
                color: var(--ion-color-primary);
                font-size: 20px;
                margin-right: 4px;
            }

            .text-lines {
                // display: flex;
                // flex-direction: column;
                line-height: 1.2;
                // text-align: left;
                font-size: 16px;
                // color: var(--ion-text-color);

                .line-1 {
                    // display: flex;
                    // align-items: center;
                    font-size: 16px;
                }

                .line-2 {
                    font-size: 16px;
                    // font-weight: 600;
                }
            }
        }
    }

    .logo-container {
        img {
            height: 75px;
            max-width: 100%;
            object-fit: contain;
        }
    }

    ion-button {
        margin: 0;
        --padding-start: 16px;
        --padding-end: 16px;
        height: 40px;
        font-size: 16px;
        font-weight: 500;
    }

    .home_btn {
        padding: 0 8px;
    }
}

.survey-form {

    .voice-btn {
        --background: transparent;
        --box-shadow: none;
    }

    .voice-text {
        font-size: 11px;
        line-height: 1.2;
        color: #444;
        font-weight: 500;
    }

    .line-1 {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .mic-inline {
        font-size: 14px;
        color: var(--ion-color-primary);
    }
}

.chevron-icon {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    right: 9px;
    top: 12px;
    transition: 0.2s all ease-in-out;
}

.chevron-icon::before,
.chevron-icon::after {
    position: absolute;
    display: block;
    content: "";
    border: 10px solid transparent;
}

.chevron-icon::before {
    top: 5px;
    border-top-color: #1e4894;
    ;
}

.chevron-icon::after {
    top: 2px;
    border-top-color: #fff;
}

.chevron-icon.expand {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.formSubSection {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px dotted #1e4894;
    margin-bottom: 24px;
}

// .headForm{
// }
.col-left {
    float: left;
    width: calc(100% - 50px);
}

.col-right {
    float: left;
    width: 50px;
    position: relative;
}

.col-clear {
    clear: both;
}

ion-textarea {
    /*  border: 1px solid silver;*/
    font-size: 20px;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 21px;
    background-color: white;

    .item-native {
        padding-inline-start: 0 !important;
        --padding-start: 0 !important;
        background-color: white;
    }
}

// .formManager{
// }
.survey-form-page {
    --ion-background-color: transparent;
    background-image: url('../../assets/img/bg_top_removed.jpg') !important;
    background-size: 100% 100%;

    .row-item-block {
        display: block;
        padding: 0 0 10px 0;
        background: white;
    }

    .row-item-block-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 0 10px 0;
        background: white;
    }

    .col-item-block-flex {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;

        ion-radio {
            width: 16px;
            height: 16px;
            background: white;
        }

        ion-label {
            color: black;
            text-overflow: unset;
            white-space: unset;
            font-size: 14px;
        }
    }

    .col-item-50percent {
        float: left;
        width: 50% !important;
        text-align: left;

        ion-label {
            color: black;
        }
    }

    .row-item-block:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }

    ion-toolbar {
        --background: translucent;
    }

    #container {
        text-align: center;

        h1 {
            font-family: 'Roboto Condensed', sans-serif;
            color: white;
            margin-top: 16px;
            font-size: 28px;
            font-weight: 700;
        }

        .white-container {
            background: white;
            border-radius: 10px;
            margin: 13px 15px;
            color: #1e4894;
            text-align: center;
            padding: 20px 0;
            line-height: 1.5;

            .formSubSection {
                .formSubHead {
                    .headForm {
                        .left-side-heading {
                            ion-skeleton-text {
                                margin-bottom: 10px;
                            }
                        }

                        .right-side-heading {
                            text-align: right;

                            ion-skeleton-text {
                                display: inline-block;
                            }
                        }
                    }

                    .subsec-desc-content {
                        margin-top: 20px;

                        ion-skeleton-text {
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .surveyform-button-default {
                text-align: center;

                ion-skeleton-text {
                    display: inline-block;
                }
            }

            h3.subsec_title {
                color: black;
                font-weight: bold;
                font-size: 20px;
                text-align: left;
                margin-top: 0px;
            }

            div.subsec_desc {
                color: black;
                //font-size: 15px;
                text-align: left;
                margin-bottom: 20px;
            }

            img {
                width: 67%;
                margin-top: 10px;
                margin-bottom: 17px;
            }

            .surveyf-form {
                width: 100%;
                margin: 0 auto;

                .formRatio {
                    ion-radio-group {
                        background-color: white;
                    }
                }

                .label {
                    text-align: left;
                    font-weight: bold;
                    font-size: 17px;
                    display: flex;
                }

                ion-radio-group {
                    background: #fff;

                    ion-label {
                        margin-left: 5px;
                    }

                    .item-native {
                        padding-left: 0 !important;
                        --padding-start: 0 !important;
                    }

                    ion-row ion-col {
                        width: 50% !important;
                    }
                }

                ion-searchbar {
                    border: 1px solid silver;
                    font-size: 20px;
                    text-align: left;
                    box-sizing: border-box;
                    width: 250px;
                    border-radius: 3px;
                    margin-top: 5px;
                    margin-bottom: 21px;
                    --placeholder-color: #164395;
                    --placeholder-opacity: 1;
                    --padding-top: 10px;
                    --padding-bottom: 10px;
                    --padding-start: 19px;
                    --padding-end: 19px;
                    --box-shadow: none;

                    ion-icon {
                        display: none !important;
                        width: 0;
                        height: 0;
                    }
                }

                ion-input {
                    border: 1px solid silver;
                    font-size: 20px;
                    background: #fff !important;
                    text-align: left;
                    box-sizing: border-box;
                    width: 100%;
                    max-width: 500px;
                    border-radius: 3px;
                    margin-top: 5px;
                    margin-bottom: 21px;
                    --placeholder-color: #164395;
                    --placeholder-opacity: 1;
                    --padding-top: 10px;
                    --padding-bottom: 10px;
                    --padding-start: 19px;
                    --padding-end: 19px;
                }

                ion-select {
                    background: #fff;
                    --placeholder-color: black;
                }

                ion-item {
                    background: #fff;
                    color: #000;
                }
            }

            .surveyf-buttons {
                margin-top: 5px;
                margin-bottom: 10px;

                ion-button {
                    margin: 0 auto;
                    height: 50px !important;
                    font-size: 22px;
                    text-transform: capitalize;
                    border-radius: 4px;
                }

                ion-button.surveyf-btn {
                    //background-color: #1ac1ee;
                    --background: linear-gradient(180deg, #cd43ec 0%, #b37cf0 100%);
                    --ion-color-primary: transparent;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                }
            }
        }

        strong {
            font-size: 22px;
            line-height: 26px;
        }

        p {
            font-size: 19px;
            line-height: 22px;
            //color: #8c8c8c;
            margin: 0;
        }

        a {
            text-decoration: none;
        }
    }
}

.searchbar-search-icon.sc-ion-searchbar-md {
    left: 16px;
    top: 11px;
    width: 0 !important;
    height: 0 !important;
}

.color_0 {
    color: goldenrod !important;
}

.color_1 {
    color: red !important;
}

.color_2 {
    color: green !important;
}

.color_3 {
    color: blue !important;
}

.color_4 {
    color: brown !important;
}

.color_5 {
    color: darkslategray !important;
}

.red {
    color: red;
    font-size: 1.4rem;
}

.validation_txt {
    position: fixed;
    background: rgb(255 255 210 / 90%);
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 24px;
    z-index: 9;
    color: #000;
}

.close-btn {
    float: right;
    padding: 2px;
    margin: 2px;
    font-size: 0.5rem;
    height: 12px;
}

.font-size-1 {
    font-size: 1.2rem;
}

.upload-image {
    max-width: 60px;
    position: relative;
    top: -2px;
}

.formManager {
    margin-bottom: 1.2rem;
}

.item-background-color {
    --ion-item-background: white;
}

.formCheckbox {
    background-color: white;
}

.alert-wrapper.sc-ion-alert-md {
    background-color: white;
    color: black;
}

.alert-checkbox-label.sc-ion-alert-md {
    color: black;
}

.alert-title.sc-ion-alert-md {
    color: black !important;
}

.alert-input.sc-ion-alert-md {
    color: black !important;
}

.alert-radio-label.sc-ion-alert-md {
    color: black !important;
}

.action-sheet-button.sc-ion-action-sheet-md {
    color: black !important;
}

.captcha {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    letter-spacing: 4px;
    background-color: #f1f1f1;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    margin-left: 20% !important;
}

.captcha-container1 {
    display: flex;
    align-items: center;
}

.captcha-container img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.captchinput {
    border: 1px solid #7b7777 !important;
    font-size: 16px !important;
    background: #fff !important;
    text-align: left;
    box-sizing: border-box;
    width: 80% !important;
    max-width: 500px !important;
    border-radius: 3px !important;
    margin-left: 7% !important;
    margin-top: 5px !important;
    margin-bottom: 21px !important;
    --placeholder-color: #7b7777 !important;
    --placeholder-opacity: 1 !important;
    --padding-top: 10px !important;
    --padding-bottom: 10px !important;
    --padding-start: 19px !important;
    --padding-end: 19px !important;
}

ion-icon.md.hydrated {
    font-size: 0.8em;
}

ion-button.login-btn.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    color: white;
}

.pdf-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    ion-icon {
        font-size: 48px;
        margin-bottom: 5px;
    }

    span {
        font-size: 12px;
        color: var(--ion-color-medium);
    }
}

ion-content {
    --padding-bottom: calc(90px + env(safe-area-inset-bottom));
}