ion-toolbar {
    background-image: url("../../assets/img/top-bg.jpg") !important;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    --ion-toolbar-background: transparent;
    text-align: center;
    padding: 8px 5px 5px 5px !important;
    //height:68px;
    img {
        // height: 45px;
        // width: 75px;
        height: 75px;
    }
}

ion-content {
    --ion-background-color: transparent;
    background-image: url("../../assets/img/bg_top_removed.jpg") !important;
    background-size: 100% 100%;
    ion-toolbar {
        --background: translucent;
    }
    #container {
        text-align: center;
        h1 {
            font-family: "Roboto Condensed", sans-serif;
            color: white;
            margin-top: 16px;
            font-size: 28px;
            font-weight: 700;
        }
        .white-container {
            background: white;
            border-radius: 10px;
            margin: 13px 30px;
            color: #164395;
            text-align: left;
            padding: 17px 17px;
            line-height: 1.5;
            min-height: 250px;
            .intro-button-default {
                text-align: center;
                ion-skeleton-text {
                    display: inline-block;
                }
            }
            .intro-content-skeleton {
                ion-skeleton-text {
                    margin-bottom: 10px;
                }
            }
            ion-button {
                display: block;
                margin: 0 auto;
                //max-width: 175px;
                width: 100%;
                height: 50px;
                font-size: 20px;
                text-transform: inherit;
                border-radius: 4px;
            }
            ion-button.create-acc-btn {
                background-color: #1ac1ee;
                --ion-color-primary: transparent;
                font-family: "Roboto Condensed", sans-serif;
                font-weight: 400;
                margin: 0px auto 14px auto;
                // max-width: 230px;
            }
            ion-button.type-in {
                // max-width: unset;
                white-space: normal;
                // padding: 8px;
                height: unset;
                color: #fff;
                // background-color: #8d66a9;
                background: rgb(210, 35, 250);
                background: linear-gradient(180deg, rgba(210, 35, 250, 1) 0%, rgba(142, 70, 223, 1) 100%);
            }
            ion-button.type-ins {
                // max-width: unset;
                white-space: normal;
                // padding: 8px;
                height: unset;
                color: #fff;
                // background-color: #8d66a9;
                background: rgb(210, 35, 250);
                background: linear-gradient(180deg, #cd43ec 0%, #b37cf0 100%)
            }
            ion-button.login-btn {
                background-color: #8d66a9;
                --ion-color-primary: transparent;
                font-family: "Roboto Condensed", sans-serif;
                font-weight: 400;
                margin-top: 30px;
                margin-bottom: 32px;
            }
        }
        strong {
            font-size: 22px;
            line-height: 26px;
        }
        p {
            font-size: 18px;
            line-height: 18px;
            color: #8c8c8c;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
}

.first_ln {
    color: #fff !important;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 22px !important;
}

.second_ln {
    color: #fff !important;
    letter-spacing: 0px;
}

.start_button {
    position: absolute;
    top: 7px;
    left: -12px;
    //font-size: 13.2px;
}

.button-native {
    line-height: 10px
}

.content-link {
    font-size: 12px;
    text-decoration: underline !important;
}

.custom {
    table {
        padding: 10px;
    }
}

.text-center {
    text-align: center;
}