ion-toolbar {
    background-image: url('../../assets/img/top-bg.jpg') !important;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    --ion-toolbar-background: transparent;
    text-align: center;
    padding: 8px 5px 5px 5px !important;

    //height:68px;
    img {
        // height: 45px;
        // width: 75px;
        height: 75px;
    }
}

.back-arrow {
    color: #29b5e5;
}

.suggestion-text {
    position: relative;
    z-index: 99;
}

.suggestion-list {
    width: 100%;
    display: none;
    position: absolute;
    top: 50px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #28b6e4;
    max-height: 175px;
    overflow-x: hidden;
    overflow-y: auto;

    ul.suggestion-list-email {
        margin: 0;
        padding: 0;
        position: relative;

        li {
            text-align: left;
            list-style-type: none;
            padding: 5px 7px;
            border-bottom: 1px solid #afecff;
        }

        li:last-child {
            border: 0;
        }
    }
}

.suggestion-list-scrollbar {
    position: absolute;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 3px;
    height: 0;
    top: 3px;
    bottom: 3px;
    border-radius: 3px;
}

ion-content {
    --ion-background-color: transparent;
    background-image: url('../../assets/img/bg_top_removed.jpg') !important;
    background-size: 100% 100%;

    ion-toolbar {
        --background: translucent;
    }

    #container {
        text-align: center;

        h1 {
            font-family: 'Roboto Condensed', sans-serif;
            color: white;
            margin-top: 16px;
            font-size: 28px;
            font-weight: 700;
        }

        .white-container {
            background: white;
            border-radius: 10px;
            margin: 13px 30px;
            color: #1e4894;
            text-align: center;
            padding: 17px 23px;
            line-height: 1.5;

            img {
                width: 67%;
                margin-top: -14px;
            }

            .login-form {
                width: 250px;
                margin: 0 auto;

                ion-input {
                    border: 1px solid silver;
                    font-size: 20px;
                    text-align: left;
                    box-sizing: border-box;
                    width: 250px;
                    border-radius: 3px;
                    margin-top: 16px;
                    // margin-bottom: 21px;
                    --placeholder-color: #164395;
                    --placeholder-opacity: 1;
                    --padding-top: 10px;
                    --padding-bottom: 10px;
                    --padding-start: 19px;
                    --padding-end: 19px;
                }
            }

            .login-buttons {
                //margin-top: 12px;
                margin-bottom: 12px;

                ion-button {
                    margin: 0 auto;
                    height: 50px;
                    font-size: 22px;
                    text-transform: capitalize;
                    border-radius: 4px;
                }

                ion-button.login-btn {
                    background-color: #1ac1ee;
                    --ion-color-primary: transparent;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    margin-right: 13px;
                }

                ion-button.cancel-btn {
                    background-color: #8d66a9;
                    --ion-color-primary: transparent;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                }
            }
        }

        strong {
            font-size: 22px;
            line-height: 26px;
        }

        p {
            font-size: 18px;
            line-height: 22px;
            color: #8c8c8c;
            margin: 0;
        }

        .survey-note {
            font-size: 19px;
        }

        a {
            text-decoration: none;
        }
    }
}