ion-toolbar {
    background-image: url("../../assets/img/top-bg.jpg") !important;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    --ion-toolbar-background: transparent;
    text-align: center;
    padding: 8px 5px 5px 5px !important;

    // height: 68px;
    img {
        // height: 45px;
        height: 75px;
        // width: 75px;
    }
}

ion-content {
    --ion-background-color: transparent;
    background-image: url("../../assets/img/bg_top_removed.jpg") !important;
    background-size: 100% 100%;

    ion-toolbar {
        --background: translucent;
    }
}

.white-container {
    background: white;
    border-radius: 10px;
    margin: 13px 20px;
    color: #164395;
    text-align: left;
    padding: 15px 20px;
    line-height: 1.5;
    min-height: 245px;

    .intro-button-default {
        text-align: center;

        ion-skeleton-text {
            display: inline-block;
        }
    }

    .intro-content-skeleton {
        ion-skeleton-text {
            margin-bottom: 10px;
        }
    }

    ion-button {
        display: block;
        margin: 0 auto;
        max-width: 175px;
        width: 100%;
        height: 50px;
        font-size: 22px;
        text-transform: capitalize;
        border-radius: 4px;
    }

    ion-button.create-acc-btn {
        background-color: #1ac1ee;
        --ion-color-primary: transparent;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        margin-top: 38px;
    }

    ion-button.login-btn {
        background-color: #8d66a9;
        --ion-color-primary: transparent;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 32px;
    }

    ion-input {
        border: 1px solid silver;
        font-size: 20px;
        text-align: left;
        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        border-radius: 3px;
        margin-top: 5px;
        margin-bottom: 21px;
        --placeholder-color: #164395;
        --placeholder-opacity: 0.35;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 19px;
        --padding-end: 19px;
    }
}

.back-arrow {
    position: absolute;
    display: block;
    //LEFT: 65PX;
    //width: 70px;
}

.header-ios {
    .back-arrow {
        top: 25px;
    }
}

.comp-code-local {
    border: 1px solid silver;
    font-size: 20px;
    width: 100%;
    background: #ffff;
    border-radius: 3px;
    margin-bottom: 21px;
    padding: 10px 12px;

    &::placeholder {
        color: #ddd;
    }

    &:focus-visible {
        outline-color: aqua;
    }
}