<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="back-arrow">
      <ion-button color="primary" fill="clear" [routerLink]="['/select-intro']">
        <ion-icon name="arrow-undo-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <img src="../../assets/img/logo.png" alt="logo">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="white-container">
    <div class="code ion-margin-vertical btn-class">
      Please enter the unique code provided by your company or other entities
    </div>
    
    <input 
      type="text" 
      placeholder="ABC123" 
      class="comp-code-local" 
      list="local_codes" 
      [(ngModel)]="companyCode"
    >
    
    <datalist id="local_codes">
      <option [value]="c.comp_code" *ngFor="let c of localCompanyCodes">{{c.comp_name}}</option>
    </datalist>
    
    <div class="ion-text-center ion-margin-top">
      <ion-button class="btn-class"
        style="--background:linear-gradient(180deg, #cd43ec 0%, #b37cf0 100%)" 
        (click)="submitCode(companyCode)"
      >
        Submit to Save
      </ion-button>
    </div>
  </ion-card>
</ion-content>