ion-toolbar {
    background-image: url("../../assets/img/top-bg.jpg") !important;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    --ion-toolbar-background: transparent;
    text-align: center;
    padding: 2px 5px 2px 5px !important;

    img {
        height: 75px;
    }
}

ion-content {
    --ion-background-color: transparent;
    background-image: url("../../assets/img/bg_top_removed.jpg") !important;
    background-size: 100% 100%;
    font-family: "Roboto Condensed", sans-serif;

    ion-toolbar {
        --background: translucent;
    }
}

h2 {
    color: #449fd4;
    font-size: 55px;
    margin: 0px !important;
    padding: 15px;
    font-family: "Roboto Condensed", sans-serif;
}

img {
    margin-top: 5px;
    max-width: 30%;
}

ion-label {
    font-size: 12px !important;
    padding: 10px;
}

.txtcenter {
    text-align: center;
}

.validate-errors {
    color: #cc2c2d;
    font-size: 19px;
    padding-bottom: 4px;
    padding-left: 10px;

}

.inner-scroll {
    padding: 0px !important;
}

.ion-padding {
    padding: 0px !important;
}

main {

    padding: 0px !important;
}

.pad {

    margin-bottom: 12px;
}

.button-native {
    border-radius: 25px !important;
}

ion-button {
    border-radius: 5px;
    display: block;
    margin: 0px auto;
    max-width: 160px;
    width: 100%;
    height: 45px;
    font-size: 22px;
    text-transform: capitalize;
    border-radius: 4px;
}

.white-container {
    background-color: #ffffff;
    border-radius: 28px;
    margin: 13px 20px;
    color: #164395;
    text-align: left;
    padding: 18px 13px;
    line-height: 1.5;
    min-height: 245px;

    .intro-button-default {
        text-align: center;

        ion-skeleton-text {
            display: inline-block;
        }
    }

    .intro-content-skeleton {
        ion-skeleton-text {
            margin-bottom: 10px;
        }
    }

    ion-button.create-acc-btn {
        background-color: #1ac1ee;
        --ion-color-primary: transparent;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        margin-top: 38px;
    }

    ion-button.login-btn {
        border-radius: 10px;
        margin: 14px 1px;
        color: #164395;
        text-align: left;
        padding: 18px 13px;
        line-height: 1.5;
        min-height: 245px;
    }
}

.back-arrow {
    position: absolute;
    display: block;
    top: 20px;
}

.header-ios {
    .back-arrow {
        top: 25px;
    }
}

.native-input.sc-ion-input-md {
    --placeholder-font-size: 18px !important;
}

.test {
    border: 2px solid silver !important;
    font-size: 17px !important;
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background: #ffff !important;
    border-radius: 5px !important;
    margin-bottom: 15px !important;
    padding: 0px 4px !important;
    --placeholder-color: rgb(133, 132, 132) !important;
    --placeholder-font-family: "Roboto Condensed", sans-serif;
    // height: 44px;
}


.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

ion-input {
    flex: 1;
    --padding-end: 40px;
    /* Ensure padding to the right for the icon */
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 22px;
    color: gray;
    z-index: 10;
    margin-bottom: 4%;
}


.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 22px;
    color: gray;
}