.back_arrow {
    position: absolute;
    font-size: 27px;
    left: 15px;
}

ion-content {
    text-align: center;
}

ion-input {
    display: inline-block;
}

.component_card {
    border-radius: 10px;
    box-shadow: unset;
}

.heading {
    font-size: 19px;
    font-weight: 500;
}

.submit_btn {
    background-color: #1ac1ee;
    --ion-color-primary: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-right: 13px;
    margin: 0 auto;
    height: 50px;
    font-size: 22px;
    text-transform: capitalize;
    border-radius: 4px;
}

ion-input {
    border: 1px solid silver;
    font-size: 20px;
    text-align: left;
    box-sizing: border-box;
    width: 250px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 21px;
    --placeholder-color: #164395;
    --placeholder-opacity: 1;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 19px;
    --padding-end: 19px;
    background: #f5f3f3;
}

.forgot_img {
    max-width: 180px;
    margin: auto;
    display: block;
}