<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="back-arrow">
      <ion-button color="primary" fill="clear" (click)="goBack()">
        <ion-icon name="arrow-undo-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <img *ngIf="!logoImage || logoImage==''" src="assets/img/logo.png"/>
    <img *ngIf="logoImage && logoImage!=''" [src]="logoImage"/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-card class="component_card ion-padding">
    <h2>{{pageTitle}}</h2>
    <div [innerHTML]="pageContent"></div>
  </ion-card>
</ion-content>